<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="titulo" >HOLA BEBE</h1>
     <img src="https://firebasestorage.googleapis.com/v0/b/tiendasuralgm.appspot.com/o/entretenimiento%20white1.webp?alt=media&token=2a5437d9-0d69-476c-9b0b-24418f9916ae" alt="" id="foto">
    
    <script src="../controllers/aprendiendoDOM.js"></script>
</body>
</html>